<div class="owner-dashboard">

  <!-- Top Bar -->
  <div class="top-bar">
    <h1>Your Gyms</h1>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
  
    <!-- Earnings Summary -->
    <div *ngIf="!loading" class="earnings-summary">
    <div class="summary-card">
        <h3>Total Earnings</h3>
        <p class="value">₹{{ totalEarnings }}</p>
    </div>

    <div class="summary-card">
        <h3>Total Bookings</h3>
        <p class="value">{{ totalBookings }}</p>
    </div>

    <div class="summary-card">
        <h3>Today</h3>
        <p class="value">₹{{ todayEarnings }}</p>
    </div>
    </div>

  <!-- No gyms -->
  <div *ngIf="!loading && gyms.length === 0" class="empty-state">
    <img src="https://cdn-icons-png.flaticon.com/512/4076/4076409.png" />
    <h2>No Gyms Added Yet</h2>
    <p>Add your first gym to start accepting day-pass customers.</p>

    <button class="primary-btn" (click)="goAddGym()">
      + Add Your First Gym
    </button>
  </div>

  <!-- Loading State -->
  <div *ngIf="loading" class="loading">
    <div class="loader"></div>
  </div>

  <!-- Gym List -->
  <div *ngIf="!loading && gyms.length > 0" class="gym-list">

    <div class="gym-card" *ngFor="let gym of gyms">

      <img class="gym-img" [src]="gym.images?.[0] || placeholderImg" />

      <div class="gym-info">
        <div class="header-row">
          <h2>{{ gym.name }}</h2>

          <span class="status"
                [class.pending]="gym.status === 'pending'"
                [class.approved]="gym.status === 'approved'">
            {{ gym.status | titlecase }}
          </span>
        </div>

        <p class="address">{{ gym.address }}</p>

        <div class="meta-row">
          <span class="price">₹{{ gym.price }}</span>
          <span class="timings">{{ gym.openingTime }} - {{ gym.closingTime }}</span>
        </div>

        <div class="btn-row">
          <button class="secondary-btn" (click)="editGym(gym.id)">Edit</button>
          <button class="secondary-btn" (click)="viewGym(gym.id)">View</button>
          <button class="secondary-btn" (click)="viewBookings(gym.id)">Bookings</button>
        </div>
        <button class="secondary-btn" (click)="scan(gym.id)">Scan QR</button>
      </div>

    </div>

  </div>

  <!-- Floating Add Gym Button -->
  <button class="fab" (click)="goAddGym()">+</button>

</div>